<% provide(:title, @chord.name) %>
<div class="row">
  <div class="span12">
  	<h3><%= @chord.name %> (<%= @chord.description %>)</h3>
  </div>
</div>
<div class="row">
	<div class="span12">
  	<ol class="microposts">
        <%= render @notes %>
      </ol>
  </div>
</div>
<div class="row">
	<div class="span12">
		<%= form_for(@chord.chordnotes.build(chord_id: @chord.id)) do |f| %>
		  <div><%= f.hidden_field :chord_id %></div>
		  <div class="field">
		  	<%= f.text_field :note_id, placeholder: "Enter the note's id" %>
  		</div>
		  <%= f.submit "Add Note", class: "btn btn-large" %>
		  <%= link_to "Remove Note", Chordnote.find_by(note_id: 1), method: :delete, data: { confirm: "You sure?" }, title: "test title", class: "btn btn-large" %>
		<% end %>
	</div>
</div>