<% provide(:title, @chord.name) %>
<div class="row">
  <div class="span12">
  	<h3><%= @chord.name %> (<%= @chord.description %>)</h3>
  </div>
</div>
<div class="row">
	<div class="span12">
  	<ol class="microposts">
        <% @chord.notes.each do |note| %>
        	<li id="NoteID<%= note.id %>" >
					  <span class="content"><%= note.name %> (<%= note.description %>) (ID: <%= note.id %>)</span>
					  <span class="timestamp">
					    Created <%= time_ago_in_words(note.created_at) %> ago.
					  </span>
					  <span class="content">
					  	<%= link_to "Remove Note", chordnote_path(:chord_id => @chord.id, :note_id => note.id), :method => :delete, class: "removeNote" %>
					  </span>
					</li>
				<% end %>
      </ol>
  </div>
</div>
<div class="row">
	<div class="span12">
		<%= form_for(@chord.chordnotes.build(chord_id: @chord.id)) do |f| %>
		  <div><%= f.hidden_field :chord_id, value: @chord.id %></div>
		  <div><%= hidden_field_tag :chord_id_pass, :chord_id %></div>
		  <div class="field">
		  	<%= f.text_field :note_id, placeholder: "Enter the note's id" %>
  		</div>
		  <%= f.submit "Add Note", class: "btn btn-large" %>
		<% end %>
	</div>
</div>