<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <div class="span6">
    <h3>My Keys (<%= @user.keys.count %>)</h3>
    <% if @user.keys.any? %>
      <ol class="keys">
        <%= render @user.keys %>
      </ol>
      <%= will_paginate @keys %>
    <% end %>
    <%= link_to "New Key", new_key_path, 
                                class: "btn btn-large btn_center" %>
  </div>
  <div class="span6">
    <h3>My Chords (<%= @user.chords.count %>)</h3>
    <% if @user.chords.any? %>
      <ol class="chords">
        <%= render @user.chords %>
      </ol>
      <%= will_paginate @chords %>
    <% else %>
      </br>
    <% end %>
    <%= link_to "New Chord", new_chord_path, 
                                class: "btn btn-large" %>
  </div>
</div>